{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block content %}
<div align="center" class="container">
<h1 align="center"> Product Page</h1>
<h3>{{ foo('Welcome to our website') }}</h3>
<table>
  <thead>
    <tr>
      <th>Product Name &nbsp;&nbsp;</th>
      <th>Quantity&nbsp;&nbsp;</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  {% for value in result %}
   <tr>
    
       <td> {{ value["name"] }} </td> 
       <td> {{ value["quantity"] }} </td>
       <td> {{ value["price"] }} </td>
   </tr>
  {% endfor %}
  </tbody>
</table>
<br />
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">What do you like to Buy? Select a product.</label>
    <input type="text" class="form-control" id="product" placeholder="Write a product">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Quantity</label>
    <input type="text" class="form-control" id="quantity" placeholder="Quantity">
  </div>
</form>
<input class="btn btn-primary" type="submit" value="Submit">

<br />


<table>
  <thead>
    <tr>
      <th>Product Name &nbsp;&nbsp;</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  {% for value in max %}
   <tr>
    
       <td> {{ value["product_name"] }} </td> 
       <td> {{ value["Max_price"] }} </td>
   </tr>
  {% endfor %}
  </tbody>
</table>
<br />
<table>
  <thead>
    <tr>
      <th>Product Name &nbsp;&nbsp;</th>
      <th>Category Name</th>
    </tr>
  </thead>
  <tbody>
  {% for value in prod_cat %}
   <tr>
    
       <td> {{ value["product_name"] }} </td> 
       <td> {{ value["category_name"] }} </td>
   </tr>
  {% endfor %}
  </tbody>
</table>
<br />
<input class="btn btn-primary" type="submit" value="Submit">
</div>

{%endblock%}